In [1]:
import pandas as pd

df = pd.read_csv('country_vaccination_stats.csv')
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [4]:
min_vac = df.groupby(['country'])['daily_vaccinations'].min()
min_vac = min_vac.fillna(0)
min_vac

country
Argentina                 6483.0
Austria                   3368.0
Bahrain                    943.0
Belgium                      1.0
Brazil                     112.0
Bulgaria                   472.0
Canada                     866.0
Chile                       51.0
China                   187500.0
Costa Rica                 240.0
Croatia                    989.0
Cyprus                     534.0
Czechia                   1822.0
Denmark                   1994.0
Ecuador                    108.0
England                  37625.0
Estonia                    309.0
Finland                    459.0
France                    5000.0
Germany                  19721.0
Gibraltar                  520.0
Greece                     549.0
Hungary                   1339.0
Iceland                     63.0
India                   112150.0
Indonesia                11823.0
Ireland                    550.0
Isle of Man                 90.0
Israel                    6887.0
Italy                      926.0
Kuwait                       0.0
Latvia                     338.0
Lithuania                  311.0
Luxembourg                  62.0
Malta                      259.0
Mexico                    1300.0
Netherlands               4000.0
Northern Ireland          1563.0
Norway                     224.0
Oman                       817.0
Panama                       6.0
Poland                    4300.0
Portugal                  2791.0
Romania                    712.0
Russia                    3357.0
Saudi Arabia             14153.0
Scotland                  3047.0
Serbia                    1150.0
Seychelles                 500.0
Singapore                 2800.0
Slovakia                   425.0
Slovenia                  1270.0
Spain                    41496.0
Sweden                    3859.0
Switzerland               3000.0
Turkey                   67192.0
United Arab Emirates     30698.0
United Kingdom           46423.0
United States            57909.0
Wales                     1763.0
Name: daily_vaccinations, dtype: float64